teamMenu

.row
    //.large-9.columns
    b {{team}} data
    br
    br

.row
    .small-6.columns
        div(ng-controller='RadarController' radar-size='400' extra-level="" , target-div='.chart')
            div.chart
    .small-6.columns
        pre(ng-show="project=='samm'").
            SM   = Strategy & Metrics
            OE   = Operational Enablement
            EH   = Environment Hardening
            IM   = Issue Management
            ST   = Security Testing
            IR   = Implementation Review
            DR   = Design Review
            SA   = Secure Architecture
            SR   = Security Requirements
            TA   = Threat Assessment
            EG   = Education & Guidance
            PC   = Policy & Compliance

        pre(ng-show="project=='bsimm'").
            SM   = Strategy & Metrics
            CMVM = Configuration Management & Vulnerability Management
            SE   = Software Environment
            PT   = Penetration Testing
            ST   = Security Testing
            CR   = Code Review
            AA   = Architecture Analysis
            SR   = Standards & Requirements
            SFD  = Security Features & Design
            AM   = Attack Models
            T    = Training
            CP   = Compliance & Policy









.row
    //.large-9.columns
    b {{team}} data (in green) compared to levels 1,2 and 3 data (in orange)
    br
    br


.row(style='background:#F0F0F0')
    .small-4.columns
        div(ng-controller='RadarController' radar-size='200' extra-level="level-1" , target-div='.chart-level-1')
            b level 1:
            br
            br
            div.chart-level-1

    .small-4.columns
        div(ng-controller='RadarController' radar-size='200' extra-level="level-2", target-div='.chart-level-2')
            b level 2:
            br
            br
            div.chart-level-2

    .small-4.columns
        div(ng-controller='RadarController' radar-size='200' extra-level="level-3", target-div='.chart-level-3')
            b level 3:
            br
            br
            div.chart-level-3

//div(ng-controller='RadarController')
    teamMenu
    .row.column
        .small-12.columns
            .activity-table
                .panel.callout.radius.text-center
                    b {{team}} {{project}}
    .row
        .small-12.columns
            br
            div.chart-container


    .row
        .small-1.columns
        .small-11.columns
            .label.warning {{team}}
            .label.success Level 1