div(ng-controller='RadarController')
    .row
        .small-12.columns
            br
            div.chart-container

    .row
        .small-1.columns
        .small-11.columns
            .label.warning Standard
            .label.success {{team}}