div(ng-controller='RadarControllerOld')
    .row
        .small-12.columns
            br
            div.chart-container

    .row
        .small-1.columns
        .small-11.columns
            .label.warning Level 1
            .label.success {{team}}