div(ng-controller='SideNavBarController')
    br
    dl.sub-nav(ng-cloak)
        dt
            b
                a(href='/view/project/{{project}}') {{project}}
        dt
            b {{team}}
        dd
            a(href='/view/{{project}}/{{team}}'       ) view
        dd
            a(href='/view/{{project}}/{{team}}/radar' ) radar

        dd
            a(href='/view/{{project}}/{{team}}/edit'  ) edit
        dd
            a(href='/view/{{project}}/{{team}}/raw'   ) raw
    br