.hide-for-print
    nav.top-bar(data-topbar='', role='navigation')
        ul.title-area
            li.name
                h1
                    a(href='/view') Maturity Models
        section.top-bar-section
            ul.left
                li
                    a(ng-href='/view/projects' ) Projects
                //li
                    a(ng-href='/view/teams'    ) Teams
                li
                    a(ng-href='/view/routes'   ) API
