.activity-table .panel.callout {
            padding-top: 1px;
            padding-bottom: 1px;
    }
.activity-table table {
            width: 100%; !important;
    }
.activity-table table th {
            font-size:12px !important;
    }
.activity-table td {
            padding: 2px !important;
            text-align: center !important;
            font-size:12px !important;
    }

.activity-table input[type="radio"] {
            vertical-align: middle !important;
            margin :0px !important;
    }

.input-field input[type="text"] {
    padding: 0px !important;
    valign: center !important;
    font-size:10px !important;
    width: 200px !important;
    height: 20px !important;
    margin-bottom:0; !important;
}

.input-metadata input[type="text"] {
    margin-bottom:0; !important;
}

td.td-text-left  {
    text-align: left !important;
}

.yes-answers input[type="text"] {
    margin-bottom:0; !important;
    width: 25pc !important;
    height: 20px !important;
    font-size:12px !important;
}

@media print {
    .panel.callout {border: solid; border-width: 2; background-color: #c0c0c0;}
}