.activity-table
    .panel.callout.radius.text-center
        b {{title}}

    table.fullWidth
        tr
        thead
            tr
                th ID
                //th Level
                th Yes
                th No
                th NA
                th Maybe

        tbody
            tr.cell(ng-repeat="(key, value) in data")
                td.text-left {{key}}
                //td ...
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='Yes')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='No')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='NA')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='Maybe')