.activity-table(id='{{title}}')
    .panel.callout.radius.text-center#domain
        b {{title}}
    table.fullWidth
        tr
        thead
            tr
                th ID
                th Yes
                th No
                th NA
                th Maybe
        tbody
            tr.activity(ng-repeat="activity in activities", id='{{activity}}')
                td.text-left {{activity}}
                td
                    input(type="radio" ng-name='activity' ng-model="data.activities[activity].value" value='Yes')
                td
                    input(type="radio" ng-name='activity' ng-model="data.activities[activity].value" value='No')
                td
                    input(type="radio" ng-name='activity' ng-model="data.activities[activity].value" value='NA')
                td
                    input(type="radio" ng-name='activity' ng-model="data.activities[activity].value" value='Maybe')