.activity-table(id='{{title}}')
    .panel.callout.radius.text-center#domain
        b {{title}}

    table.fullWidth
        tr
        thead
            tr
                th ID
                th Yes
                th No
                th NA
                th Maybe

        tbody
            tr.cell(ng-repeat="(key, value) in data", id='{{key}}')
                td.text-left {{key}}
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='Yes')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='No')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='NA')
                td
                    input(type="radio" ng-name='key' ng-model="data[key]" value='Maybe')