
br
.row.column
    .small-12.columns
        .activity-table
            .panel.callout.radius.text-center
                b {{team}}
                    //a(href='/view/{{target}}/edit') {{team}}
.row.column
    .small-2.columns
    .small-8.columns
        div(class='chart-{{target}}')

    .small-2.columns
    //.row
        .small-1.columns
        .small-11.columns
            .label.warning Standard
            .label.success {{team}}