br
.row.column
    .small-12.columns
        .activity-table
            .panel.callout.radius.text-center
                b {{team}} {{project}}
                    //a(href='/view/{{project}}/{{team}}/edit') {{team}}
//.row.column
    .small-2.columns
    .small-8.columns
        div(class='chart-{{team}}')

    .small-2.columns
    //.row
        .small-1.columns
        .small-11.columns
            .label.warning Standard
            .label.success {{team}}