
.row.fullWidth.activity-table(ng-show='show', id='level-{{level}}')
    .panel.callout.radius.text-center Level {{level}} - {{score}}
    table
        thead
            tr
                th.hide-for-print #
                th.hide-for-medium-down.hide-for-print Domain
                th.hide-for-medium-down.hide-for-print Practice
                th Activity
                th Level
                th Question
                th Yes
                th No
                th NA
                th Maybe
                th.hide-for-medium-down.hide-for-print Proof
        tbody
            tr(ng-repeat="(index, cells) in rows", id='{{cells[2]}}')
                td.hide-for-print {{index + 1}}
                td.hide-for-medium-down.hide-for-print {{cells[0]}}
                td.hide-for-medium-down.hide-for-print {{cells[1]}}
                td
                    a(href='{{observed_Link()}}/{{cells[2]}}') {{cells[2]}}
                td {{cells[3]}}
                td {{cells[4]}}
                td
                    input(type='radio' ng-checked= 'cells[5]' ng-model="data.activities[cells[2]].value" value='Yes'   ng-change='onChanged(this)' )
                td
                    input(type='radio' ng-checked= 'cells[6]' ng-model="data.activities[cells[2]].value" value='No'    ng-change='onChanged(this)' )
                td
                    input(type='radio' ng-checked= 'cells[7]' ng-model="data.activities[cells[2]].value" value='NA'    ng-change='onChanged(this)' )
                td
                    input(type='radio' ng-checked= 'cells[8]' ng-model="data.activities[cells[2]].value" value='Maybe' ng-change='onChanged(this)' )
                td.hide-for-medium-down.input-field.hide-for-print
                    input(type='text'  ng-model='data.activities[cells[2]].proof'  ng-change='onChanged(this)' )