div#teamMenu
    br
    dl.sub-nav(ng-cloak)
        dt
            b
                a(href='/view/project/{{project}}') {{project}}
        dt
            b {{team}}
        dd(ng-repeat='link in links', class='{{link.class}}', id='{{link.text}}')
            a(href='{{link.path}}') {{link.text}}
    br