div
    br
    dl.sub-nav(ng-cloak)
        dt
            b
                a(href='/view/project/{{project}}') {{project}}
        dt
            b {{team}}
        pre
            dd(ng-repeat='link in links')
                a(href='{{link.path}}') {{link.text}}
    br