.row.fullWidth.activity-table(ng-show='show', id='level-{{level}}')
    .panel.callout.radius.text-center Level {{level}} - {{score}}
    table
        thead
            tr
                th(ng-show="show_Fields['Index'      ]").text-center  #
                th(ng-show="show_Fields['Key'        ]").text-center  Key
                th(ng-show="show_Fields['Domain'     ]") Domain
                th(ng-show="show_Fields['Practice'   ]") Practice
                th(ng-show="show_Fields['Level'      ]") Level
                th(ng-show="show_Fields['Activity'   ]") Activity
                th(ng-show="show_Fields['Objective'  ]") Objective
                th(ng-show="show_Fields['Description']") Description
                th(ng-show="show_Fields['Yes'        ]").text-center Yes
                th(ng-show="show_Fields['No'         ]").text-center No
                th(ng-show="show_Fields['NA'         ]").text-center NA
                th(ng-show="show_Fields['Maybe'      ]").text-center Maybe
                th(ng-show="show_Fields['Proof'      ]") Proof (value)
                th(ng-show="show_Fields['Proof_Edit' ]") Proof (edit)
                th(ng-show="show_Fields['Proof_Help' ]") Proof (help)
        tbody
            tr(ng-repeat="(index, cells) in rows", id='{{cells[2]}}')
                td(ng-show="show_Fields['Index'      ]").text-center  {{index + 1}}
                td(ng-show="show_Fields['Key'        ]").text-center
                    a(href='{{observed_Link()}}/{{cells[2]}}').hide-for-print {{cells[2]}}
                    span.show-for-print {{cells[2]}}
                td(ng-show="show_Fields['Domain'     ]") {{cells[0]}}
                td(ng-show="show_Fields['Practice'   ]") {{cells[1]}}
                td(ng-show="show_Fields['Level'      ]").text-center {{cells[3]}}
                td(ng-show="show_Fields['Activity'   ]", width="450")
                    span {{cells[4]}}
                    span.hide-for-print
                        a(ng-mouseenter='descriptions[cells[2]].hide_Description=false' ng-mouseleave='descriptions[cells[2]].hide_Description=true') &#32; *
                        span(ng-show="descriptions[cells[2]]")
                            span(ng-show="!descriptions[cells[2]].hide_Description")
                                .panel(style='position:absolute;width:450px;left:250px') {{ descriptions[cells[2]].description }}
                td(ng-show="show_Fields['Objective'  ]") {{ schema_Details.activities[cells[2]].objective}}
                td(ng-show="show_Fields['Description']", width="450")  {{ descriptions[cells[2]].description }}

                td.text-center(ng-show="descriptions[cells[2]].answers != null" colspan=4)
                    select( ng-model='data.activities[cells[2]].value' ng-change='onChanged(this)')
                        option(ng-repeat="answer in descriptions[cells[2]].answers track by answer.value" ng-value='answer.value') {{ answer.text }}
                    //pre {{ data.activities[cells[2]].value }}

                td(ng-show="show_Fields['Yes'        ] && descriptions[cells[2]].answers == null").text-center
                    input(type='radio' ng-checked= 'cells[5]' ng-model="data.activities[cells[2]].value" value='Yes'   ng-change='onChanged(this)' )
                td(ng-show="show_Fields['No'         ] && descriptions[cells[2]].answers == null").text-center
                    input(type='radio' ng-checked= 'cells[6]' ng-model="data.activities[cells[2]].value" value='No'    ng-change='onChanged(this)' )
                td(ng-show="show_Fields['NA'         ] && descriptions[cells[2]].answers == null").text-center
                    input(type='radio' ng-checked= 'cells[7]' ng-model="data.activities[cells[2]].value" value='NA'    ng-change='onChanged(this)' )
                td(ng-show="show_Fields['Maybe'      ] && descriptions[cells[2]].answers == null").text-center
                    input(type='radio' ng-checked= 'cells[8]' ng-model="data.activities[cells[2]].value" value='Maybe' ng-change='onChanged(this)' )

                td(ng-show="show_Fields['Proof'      ]", width="250")
                    span {{ data.activities[cells[2]].proof }}
                td(ng-show="show_Fields['Proof_Edit' ]")
                    textarea(ng-model='data.activities[cells[2]].proof' ng-change='onChanged(this)')
                td(ng-show="show_Fields['Proof_Help' ]") {{ schema_Details.activities[cells[2]].proof}}

    p.hide-for-print
        small
            i Note: this page is print friendly