hr
.row(ng-controller='RadarControllerAll')
    .row.column
        .small-12.columns
            .activity-table
                .panel.callout.radius.text-center
                    b ALL DATA
    .row.column
        .small-12.columns
            .radar-all-data
br
br
br
br
hr
.row
    .small-4.columns
        radar(project='"demo"', team='"team-A"')
    .small-4.columns
        radar(project='project', team='"team-B"')
    .small-4.columns
        radar(project='project', team='"team-C"')
