div.ng-hide(ng-controller='EditDataController' ng-show='data')
    teamMenu
    br
    .row.fullWidth
        .small-2.columns
            label.right.inline
                b Team Name:
        .small-4.columns
            input#team-name(type="text" ng-model='metadata.team')
        .small-1.columns
            a.button.postfix(ng-click='save_Data()') save
        .small-1.columns
        .small-4.columns
            .center.label.round#message(ng-class='messageClass') {{status}}

    .row.fullWidth
        hr
    .row.fullWidth
        .medium-3.columns(ng-repeat='(key,domain) in domains')
            activityTable(title='key', data='domain')