.row
    div(ng-controller='ProjectsController')#projects
        div.callout.large.primary
            div.row.column
                h4 Projects
                ul
                    li(ng-repeat="(key, value) in projects.sort()")
                        a(href='view/project/{{value}}') {{value}}