.row
    div(ng-controller='ProjectController')#project
        div.callout.large.primary
            div.row.column
                h4 Project {{project}}
                ul
                    li(ng-repeat="(key, team) in teams.sort()")
                        a(href='view/{{project}}/{{team}}') {{team}}