.row.activity-table
    div(ng-controller='ProjectSchemaController')#project
        div.callout.large.primary
            div.row.column
                h4 Schema for Project {{project}}
                    b(ng-if='level') &#32;for level {{level}}
                    b &#32;- {{total}} activities
                table
                    thead
                        tr
                            th(colspan=2 ng-repeat="(key, value) in table.headers") {{value}}
                    tbody
                        tr
                            //td
                            //    b #

                            td
                                b Key
                            td
                                b Level
                            td
                                b Activity
                        tr(ng-repeat="(key,value) in items")
                            //td {{value.index}}
                            td {{key}}
                            td {{value.level}}
                            td
                                .text-left {{value.description}}
