div(ng-controller='RadarController')
    teamMenu
    .row.column
        .small-12.columns
            .activity-table
                .panel.callout.radius.text-center
                    b {{team}} {{project}}
    .row
        .small-12.columns
            br
            div.chart-container

    .row
        .small-1.columns
        .small-11.columns
            //.label.warning Level 1
            .label.success {{team}}