.row(ng-controller='RoutesController')
    div.callout.large.primary
        div.row.column
            h4 API methods
            b Raw
            ul
                ul#raw
                    li(ng-repeat="(key, value) in routes.raw.sort()")
                        a(href='{{value}}' target='_self') {{value}}
            b Raw
            ul
                ul#fixed
                    li(ng-repeat="(key, value) in routes.fixed.sort()")
                        a(href='{{value}}' target='_self') {{value}}