.row
    h4 Current Projects

    div(ng-controller='ProjectsController')#project
        ul
            ul
                li(ng-repeat="(key, value) in projects.sort()")
                    a(href='view/project/{{value}}') {{value}}
