projectMenu

div(ng-controller='ObservedController')
    .row
        h4 Observed data for: {{key}}
        form
            .row
                .small-12
                    //.row
                    //    .small-3.columns
                    //        label.right
                    //            b key:
                    //    .small-9.columns
                    //        label.left {{ activity.key }}
                    .row
                        .small-3.columns
                            label.right
                                b level:
                        .small-9.columns
                            label.left {{ activity.level }}
                    .row
                        .small-3.columns
                            label.right
                                b name:
                        .small-9.columns
                            label.left {{ activity.name }}
                    .row
                        .small-3.columns
                            label.right
                                b objective:
                        .small-9.columns
                            label.left {{ activity.objective }}
                    .row
                        .small-3.columns
                            label.right
                                b description:
                        .small-9.columns
                            label.left {{ activity.description }}
                    .row.row(ng-show="activity.proof")
                        .small-3.columns
                            label.right
                                b proof:
                        .small-9.columns
                            label.left {{ activity.proof }}
                    .row(ng-show="activity.resources[0]")
                        .small-3.columns
                            label.right
                                b resources:
                        .small-9.columns
                            label.left
                                span(ng-repeat="resource in activity.resources")
                                    a(href='{{resource}}') {{resource}}
                                    br
                    .row
                        .small-3.columns
                            label.right
                                b Observed:
                        .small-9.columns(ng-class="'observed-size-' + activity.observed ")
                            label.left {{ activity.observed }}
                    hr
                    .row(ng-show='activity.Yes.length>0')
                        .small-3.columns
                            label.right
                                b yes:
                        .small-9.columns
                            label.left
                                table
                                    tr
                                        th Team Name
                                        th Proof
                                    tr(ng-repeat='team in activity.Yes')
                                        td
                                            a(href='{{team_Table_Link(team)}}') {{team}}
                                        td {{ proofs[team].proof }}
                    .row(ng-show='activity.No.length>0')
                        .small-3.columns
                            label.right
                                b no:
                        .small-9.columns
                            label.left
                                table
                                    tr
                                        th Team Name
                                        th Proof
                                    tr(ng-repeat='team in activity.No')
                                        td
                                            a(href='{{team_Table_Link(team)}}') {{team}}
                                        td {{ proofs[team].proof }}
                    .row(ng-show='activity.NA.length>0')
                        .small-3.columns
                            label.right
                                b na:
                        .small-9.columns
                            label.left
                                table
                                    tr
                                        th Team Name
                                        th Proof
                                    tr(ng-repeat='team in activity.NA')
                                        td
                                            a(href='{{team_Table_Link(team)}}') {{team}}
                                        td {{ proofs[team].proof }}
                    .row(ng-show='activity.Maybe.length>0')
                        .small-3.columns
                            label.right
                                b maybe:
                        .small-9.columns
                            label.left
                                table
                                    tr
                                        th Team Name
                                        th Proof
                                    tr(ng-repeat='team in activity.Maybe')
                                        td
                                            a(href='{{team_Table_Link(team)}}') {{team}}
                                        td {{ proofs[team].proof }}


    .row
        a(href='javascript:history.back();') back