div(ng-controller='ObservedController')

    .row
        projectMenu
        .medium-12
            h4 Observed (details) activities for project: {{project}}

    .row.fullWidth

        .medium-12.columns
            table.fullWidth.observed-table
                tr.observed-domain(ng-class="'observed-column-' + data.index")
                    td(colspan='4') {{data.title}}
                tr.observed-title
                    td Activity
                    td Level
                    td Question
                    td Observed (#)
                    td Observed (Yes)
                    td Observed (No)
                tr(ng-repeat="data in project_Activities", id='{{data.title}}')
                    td {{data.title}}
                    td.text-center {{data.level}}
                    td {{data.name}}
                    td.text-center {{data.activities.Yes.length}}
                    td
                        a(ng-repeat="team in data.activities.Yes" href="/view/bsimm/{{team}}/table" target='_blank') {{team}}
                            span &#32;
                    td
                        a(ng-repeat="team in data.activities.No" href="/view/bsimm/{{team}}/table" target='_blank') {{team}}
                            span &#32;




        //.medium-3.columns(ng-repeat='(domain, data) in domains')
            table.fullWidth.observed-table
                tr.observed-domain(ng-class="'observed-column-' + data.index")
                    td(colspan='4') {{data.title}}
                tr.observed-title
                    td Activity
                    td Level
                    td Question
                    td Observed
                tr.activity(ng-repeat="activity in data.activities", id='{{activity}}')
                    td.text-left {{activity}}
                    td
                        span {{project_Activities[activity].level }}
                    td
                        span {{project_Activities[activity].name }}
                    td
                        span {{project_Activities[activity].activities['Yes'].length }}