div(ng-controller='ObservedController')

    .row
        projectMenu
        .medium-12
            h4 Observed activities for project: {{project}}

    .row

        .medium-3.columns(ng-repeat='(domain, data) in domains')
            table.fullWidth.observed-table
                tr.observed-domain(ng-class="'observed-column-' + data.index")
                    td(colspan='3') {{data.title}}
                tr.observed-title
                    td Activity
                    td Level
                    td Observed
                tr.activity(ng-repeat="activity in data.activities", id='{{activity}}')
                    td.text-left {{activity}}
                    td
                        span {{project_Activities[activity].level }}
                    //td
                        span {{project_Activities[activity].name }}
                    td
                        span {{project_Activities[activity].activities['Yes'].length }}