projectMenu
.row.activity-table
    div(ng-controller='ProjectSchemaController')#project
        div.callout.large.primary
            div.row.column(ng-show='project')
                h4 Schema for Project {{project}}
                    b &#32;- {{rows.size()}} activities
                table(border=1, style='border-collapse: collapse')
                    thead
                        tr
                            th Domain
                            th Practice
                            th Key
                            th Level
                            th Activity
                    tbody
                        tr(ng-repeat='row in ::rows', style='vertical-align: top')
                          td(ng-repeat='cell in row track by $index' rowspan='{{::cell.rowspan}}', id='{{cell.id}}') {{::cell.value}}