.row.activity-table
    div(ng-controller='ProjectScoresController')#project
        projectMenu
        div.callout.large.primary
            div.row.column
                h3 All team scores for {{project}}
                table
                    thead
                        tr
                            th team
                            th Level 1
                            th Level 2
                            th Level 3

                    tbody
                        tr(ng-repeat="(team,scores) in data", id ='{{team}}')
                            td.hide-for-print
                                a(href='/view/{{project}}/{{team}}/table' target='_blank') {{team}}
                            td.show-for-print {{team}}
                            td(style='color:{{scores.level_1.color}}')  {{scores.level_1.percentage}}
                            td(style='color:{{scores.level_2.color}}')  {{scores.level_2.percentage}}
                            td(style='color:{{scores.level_3.color}}')  {{scores.level_3.percentage}}


